@import url(./layout/normalize.css);
@import url(./layout/base.css);
@import url(./blocks/header.css);
@import url(./blocks/logo.css);
@import url(./blocks/menu.css);
@import url(./blocks/contacts.css);
@import url(./blocks/page-wrapper.css);
@import url(./blocks/head-main.css);
@import url(./blocks/services.css);
@import url(./blocks/news_and_promo.css);
@import url(./blocks/paginator.css);
@import url(./blocks/about-us.css);
@import url(./blocks/footer.css);
@import url(./blocks/social.css);
@import url(./blocks/top-line.css);
@import url(./blocks/breadcrumbs.css);
@import url(./blocks/main-services.css);
@import url(./blocks/partners.css);
@import url(./blocks/welcome.css);
@import url(./blocks/main-reviews.css);
@import url(./blocks/section-sale.css);
@import url(./blocks/section-feedback.css);
@import url(./blocks/form.css);
@import url(./blocks/hover-transition.css);
@import url(./blocks/dropdown.css);