* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    background-color: #17191C;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
    list-style-type: none;
}

ul li,
a {
    text-decoration: none;
}

.wrapper {
    margin: 21px 0 57px;
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    max-height: 129px;


}

.container .menu {
    margin-top: 21px;
}

.menu .menu__list {
    min-width: 264px;
    display: flex;
    justify-content: space-between;
}

.menu__item .menu__link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
}

.menu__item .menu__link:hover {
    cursor: pointer;
    color: #DA0100;
}

.menu__item .menu__link:active {
    cursor: pointer;
    color: #DA0100;
}

.header .contacts {
    margin: 5px 0 0;
}

.contacts .contacts__phone {
    color: #FFFFFF;
    font-size: 26px;
    text-decoration: none;
    font-style: normal;
}

.contacts .contacts__dropdown-title {
    color: #FFF;
    text-decoration: underline;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    text-align: right;
}

.contacts .contacts__dropdown-title:hover {
    color: #FF3D00;
    cursor: pointer;
}

.head__main {
    margin: 79px auto 0;
}

.head__main .main__title {
    max-width: 776px;
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 auto;
    text-align: center;
}

.head__main .main__info {
    margin-top: 17.5px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;
}

.head__main .main__btn-info {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    text-align: center;
    margin: 43.5px auto 0;
    width: 195px;
    height: 55px;
    border: 18px solid #FF3D00;
    background: #FF3D00;
    border-radius: 35px;
    color: #FFFFFF;
}

.main__btn-info:hover {
    cursor: pointer;
    background: #DA0100;
    border: 18px solid #DA0100;
}

.main__btn-info a {
    display: block;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}

.main-content .services {
    display: flex;
    justify-content: space-between;
    margin-top: 233px;
}

.services .services__block {
    max-width: 362px;
    max-height: 476px;
    background: #FFFFFF;
    padding: 36px 34px 53px 22px;
}

.services .services__block:nth-child(2) {
    border: 5px solid #CCCCCC;
    border-radius: 5px;
}

.services div span {
    font-weight: bold;
    color: #000000;
}

.services__block .services__title {
    margin-top: 30px;
    font-size: 32px;
}

.services__block .services__peoples {
    max-width: 102px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 125%;
    color: #666666;
}

.services__block .services__days {
    max-width: 123px;
    font-style: normal;
    font-size: 16px;
    line-height: 125%;
    color: #666666;
}

.services__info {
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
}

.services__main-text {
    margin-top: 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #666666;
}

.services__more-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 198px;
    height: 55px;
    margin-top: 29px;
    background: #fff;
    border-radius: 35px;
    border: 2px solid #FF5500;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FF5500;
}

.services__more-info:hover {
    background: #FF5500;
    color: #FFF;
    cursor: pointer;
}

.main-content .news_and_promo {
    margin-top: 180px;
}

.news_and_promo .nap__promo-blocks {
    display: flex;
    justify-content: space-between;
    margin-top: 51px;
}

.news_and_promo .nap__title {
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.news_and_promo .nap__promo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: url(./img/nap/camera.jpg) center/cover no-repeat;
    max-width: 557px;
    height: 394px;
    padding: 0 83px 26px 30px;
}

.nap__promo .nap__date {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
}

.nap__promo .nap__promo-title {
    margin-top: 12.5px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
}

.nap__promo .nap__info {
    margin-top: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.news_and_promo .paginator {
    margin-top: 53px;
    display: flex;
    justify-content: center;
}

.paginator .paginator__list {
    display: flex;
    justify-content: space-around;
}

.paginator .paginator__display {
    display: flex;
    margin-right: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    align-items: center;
}

.paginator__list .paginator__item {
    display: flex;
    list-style-type: none;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    width: 32px;
    height: 32px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.paginator__list .paginator__item:hover {
    cursor: pointer;
    width: 32px;
    height: 32px;
    align-self: center;
    border: 16px solid #FF5500;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
}

.paginator__list .paginator__item:nth-child(2n) {
    margin: 0 1.9px 0;
}

.main-content .about-us {
    margin-top: 221px;
    position: relative;
    height: 559px;
}

.about-us .about-us__block {
    position: absolute;
    padding: 70px 206px 66px 78.5px;
    width: 785px;
    height: 455px;
    background: #FFFFFF;
    border-radius: 5px;
    z-index: 2;
    right: 0;
    top: 20px;
}

.about-us__block .about-us__title {
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    text-transform: uppercase;
    color: #000000;
}

.about-us__block .about-us__text {
    margin-top: 38px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    color: #060606;
}

.about-us__block .about-us__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 44px;
    width: 168px;
    height: 55px;
    background: #FF5400;
    border-radius: 35px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px;
}

.about-us__block .about-us__btn:hover {
    cursor: pointer;
    background-color: #DA0100;
}

.about-us .about-us__img {
    position: absolute;
    top: -76px;
    z-index: 1;
}

.footer {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.footer .footer__menu_list {
    display: flex;
    min-width: 264px;
    justify-content: space-between;
}

.footer .footer__logo {
    margin-right: 125px;
}

.footer .footer__menu {
    margin-right: 110px;
}

.footer__menu_list .menu_item .menu__link {
    list-style: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

.footer__menu_list .footer__menu_item .menu__link:hover {
    cursor: pointer;
    color: #DA0100;
}

.footer .social {
    margin-right: 72px;
}

.social .social__list {
    display: flex;
    min-width: 174px;
    justify-content: space-between;
    align-items: center;
}

.social__item .social__link:hover {
    cursor: pointer;
}

.footer__contacts .footer__contacts_info {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 20px;
    color: #9A9A9A;
    text-decoration: none;
    white-space: nowrap;
}

.footer__contacts .contacts__phone {
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 6.5px;
}

.footer .footer__contacts {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-end;
}