.breadcrumbs .breadcrumbs__list {
    display: flex;
    flex-direction: row;
    text-align: center;
}

/* .breadcrumbs .breadcrumbs__item--active a {
    font-weight: bold;
    cursor: default;
} */

.breadcrumbs .breadcrumbs__item:last-child a{
    font-weight: bold;
    cursor: default;
}

.breadcrumbs__item a {
    font-weight: normal;
    font-size: 14px;
    text-decoration-line: underline;
    color: #9A9A9A;
}

.breadcrumbs__item {
    padding-bottom: 30px;
}

.breadcrumbs__item:hover a{
    text-decoration: none;
}

.breadcrumbs__item:last-child:hover a{
    text-decoration-line: underline;
}

.breadcrumbs__item-line{
    color: #9A9A9A;
}

.breadcrumbs__item:last-child:after {
    display: none;
}