.header .contacts {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.contacts .contacts__phone {
    color: #FFFFFF;
    font-size: 26px;
    text-decoration: none;
    font-style: normal;
}

.contacts__dropdown-title {
    display: flex;
    /* width: 190px; */
    justify-content: flex-end;
    color: #FFF;
    text-decoration: underline;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    text-align: right;
    margin-top: 2px;
}

.dropdown:hover .contacts__dropdown-title {
    color: #FF3D00;
    cursor: pointer;
}

.footer__contacts .footer__contacts_info {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    color: #9A9A9A;
    text-decoration: none;
    white-space: nowrap;
}

.footer__contacts .contacts__phone {
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 6.5px;
}

.footer .footer__contacts {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 6.5px;
}
