/* a:hover {
    animation: hover-jump 0.2s ease-in;
} */

    /* button:hover {
        animation: hover-jump 0.2s ease-in;
    } */

/* .controls__item:hover {
    animation: hover-jump 0.1s ease-in;
} */

.menu__item--jump:hover {
    animation: hover-jump-title 0.1s ease-in;
}

.paginator__item:hover {
    animation: hover-jump-title 0.1s ease-in;
}

/* .social__link img:hover {
    animation: hover-jump .01s ease-in;
} */

@keyframes hover-jump {
    from {
        transform: translateY(-5px);
    }
}

@keyframes hover-jump-title {
    from {
        transform: translateY(-2px);
    }
}