.news_and_promo .paginator {
    margin-top: 53px;
    display: flex;
    justify-content: space-between;
}

.main-services .paginator {
    margin-top: 64px;
    display: flex;
    justify-content: center;
    flex: 1;
}

.main-reviews .paginator {
    margin-bottom: 22px;
    margin-left: 9px;
    margin-top: 122px;
    display: flex;
    justify-content: center;
    flex: 1;
}

.paginator .paginator__list {
    display: flex;
    justify-content: flex-start;
    min-width: 236px;
    flex: 1;
}

.paginator .paginator__display {
    display: flex;
    margin-right: 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    align-items: center;
    flex: 0.827;
    justify-content: flex-end;
}

.paginator__list .paginator__item {
    display: flex;
    list-style-type: none;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    width: 32px;
    height: 32px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.paginator__list .paginator__item:hover {
    cursor: pointer;
    width: 32px;
    min-height: 32px;
    align-self: center;
    border: 16px solid #FF5500;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
}

.paginator__list .paginator__item--active {
    border: 16px solid #FF5500;
    border-radius: 100%;
}

.paginator__list .paginator__item--active:hover {
    cursor: default;
}

.paginator__list .paginator__item:nth-child(2n) {
    margin: 0 1.9px 0;
}

.paginator .paginator__item--black {
    color: #000000;
}

.paginator .paginator__display--black {
    color: #000000;
}

.paginator__list .paginator__item--black:hover {
    color: #FFF;
}

.paginator__item--black.paginator__item--active {
    color: #FFF;
}