.welcome {
    height: 100vh;
    padding: auto auto;
    background: url(/img/welcome__page/bg.jpg) center center/cover no-repeat;
    overflow:  hidden;
}

.welcome .welcome__container {
    background: url(/img/welcome__page/rec.png) center center no-repeat;
    height: 100vh;
}

.welcome__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100vh;
    animation: uprise 2s ease;
    animation-fill-mode: forwards;
    /* transition: cubic-bezier(.15,-0.33,.79,1.28); */
}

.welcome__logo {
    max-height: 147px;
    max-width: 538px;
}

.btn-welcome {

    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 99px;
    margin-top: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 55px;
    border-radius: 35px;
    background: #FF5500;
    color: #fff;
}

.btn-welcome:hover {
    background: #fff;
    color: #FF5500;
}

@keyframes uprise {
    from {
        /* transition: cubic-bezier(.15,-0.33,.79,1.28); */ 
        transform: scale(0.2) rotate(100deg);
    }

    20% {
        /* transform: translateY(-30px); */
        transform: rotate(-15deg)
    }

    35% {
        /* transform: translateY(0); */
        transform: scale(0.92) rotate(5deg)
    }

    55% {
        /* transform: translateY(-15px); */
        transform: rotate(0deg)
    }

    65% {
        /* transform: translateY(0); */
        transform: rotate(0deg)
    }
    
    75% {
        transform: rotate(0deg)
    }

    90% {
        transform: rotate(0deg)
    }

}